<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://tokengeneration20220822115328.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/908cd8c6-0a41-4d6a-a1fa-b821d3a94dcd/resourcegroups/DefaultResourceGroup-null/providers/Microsoft.Web/sites/TokenGeneration20220822115328</ResourceId>
    <UserName>$TokenGeneration20220822115328</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tokengeneration20220822115328.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>